*{
    box-sizing: border-box;
    line-height: 1.5;
    outline: 0;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}